.progress {
    display: flex;
    height: 1rem;
    overflow: hidden;
    font-size: .75rem;
    background-color: #e9ecef;
    border-radius: 0.25rem;
}
.progress span{
    line-height: 16px;
    background: #fff;
    width: 45px;
    font-family: "Lato", sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
}
.progress .progressbar{
    background-color: #088178;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #fff;
    text-align: center;
}