.CM-singleProduct .wrapper .briefly {
    display: flex;
}
.briefly .product-image {
    width: 50%;
    margin-right: 24px;
}
.briefly .product-info{
    width: 50%;
}
.briefly .product-image img{
    width: 100%;
}

.product-info h2 {
    font-size: 30px;
    font-family: "Spartan", sans-serif;
    color: #222222;
    font-weight: 600;
    line-height: 1.2;
}

.product-info .brand-rating-review .brand a{
    color: #088178;
    text-decoration: none;
    cursor: pointer;
}
.product-info .brand-rating-review {
    display: flex;
    margin-top: 5px;
    align-items: center;
    padding: 15px 0;
    justify-content: space-between;
}
.product-info .brand-rating-review .rating-review span{
    font-size: 14px;
    font-weight: 400;
    font-family: "Lato", sans-serif;
}
.product-info .price-discountrate {
    border-top: 1px solid #e2e9e1;
    border-bottom: 1px solid #e2e9e1;
    padding: 15px 0;
    display: flex;
    align-items: center;
}

.product-info .price-discountrate span:nth-child(1){
    color: #088178;
    font-size: 30px;
    font-family: "Lato", sans-serif;
    font-weight: 600;
    margin-right: 16px;
}
.product-info .price-discountrate span:nth-child(2){
    text-decoration: line-through;
    color: #888;
    font-size: 16px;
    font-family: "Lato", sans-serif;
    font-weight: 500;
    margin-right: 16px;
}
.product-info .price-discountrate span:nth-child(3){
    font-size: 15px;
    color: #888;
    font-family: "Lato", sans-serif;
    font-weight: 500;
}
.product-info .short-description{
    margin-top: 15px;
    margin-bottom: 30px;
}
.product-info .short-description p{
    font-size: 1rem;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 5px;
    color: #465b52;
    font-family: "Lato", sans-serif;
}
.product-info .warranty-return{
    margin-bottom: 30px;
}
.product-info .warranty-return ul li{
    display: flex;
    list-style: none;
    font-size: 13px;
    font-family: "Lato", sans-serif;
    color: #4f5d77;
    align-items: center;
    gap: 10px;
}
.product-info .size {
    display: flex;
    gap: 20px;
    align-items: center;
    margin-bottom: 24px;
}
.product-info .size strong{
    font-family: "Lato", sans-serif;
    font-weight: 600;
    color: #4f5d77;
}
.product-info .size .list-size{
    display: flex;
    gap: 4px;
}
.product-info .size .list-size li{
    list-style: none;
    border: 1px solid #e5e5e5;
    color: #555;
    height: 30px;
    min-width: 30px;
    line-height: 30px;
    text-align: center;
    text-transform: uppercase;
    font-family: "Lato", sans-serif;
}
.product-info .size .list-size li:hover, .product-info .size .list-size li.active{
    cursor: pointer;
    color: #fff;
    background-color: #088178;
    border-color: #088178;
}
.product-info .quantity-cart-wishlist-compare .quantity{
    position: relative;
}

.product-info .quantity-cart-wishlist-compare .quantity input {
    width: 70px;
    height: 30px;
    border: 1px solid #e5e5e5;
    text-align: center;

}
.product-info .quantity-cart-wishlist-compare .quantity .icon1{
    position: absolute;
    right: 0;
    width: 18px;
    height: 18px;
}
.product-info .quantity-cart-wishlist-compare .quantity .icon2{
    position: absolute;
    right: 0;
    bottom: 0;
    width: 18px;
    height: 18px;
}
.product-info .quantity-cart-wishlist-compare .quantity .icon1:hover, .product-info .quantity-cart-wishlist-compare .quantity .icon2:hover {
    cursor: pointer;
    color: #046963;
}
.product-info .quantity-cart-wishlist-compare {
    display: flex;
    align-items: center;
    gap: 6px;
}
.product-info .quantity-cart-wishlist-compare .wishlist , .product-info .quantity-cart-wishlist-compare .compare {
    display: flex;
    background: #fff;
    border: 1px solid #e5e5e5;
    color: #333;
    border-radius: 4px;
    width: 32px;
    height: 32px;
    align-items: center;
}

.product-info .quantity-cart-wishlist-compare .wishlist:hover , .product-info .quantity-cart-wishlist-compare .compare:hover {
    background-color: #0e9f6e;
    color: #fff;
    transform: translateY(-5px);
    transition: all 0.25s cubic-bezier(0.02, 0.01, 0.47, 1);
}
.product-info .quantity-cart-wishlist-compare .addProduct{
    padding: 4px 16px;
    font-size: 15px;
    font-weight: 500;
    line-height: 1.4375em;
    background-color: #0e9f6e;
    cursor: pointer;
    border: 1px solid #046963;
    border-radius: 5px;
    color: #FFFFFF;
    font-family: "Lato", sans-serif;
}
.product-info .quantity-cart-wishlist-compare .addProduct:hover{
    background-color: #046963;
}

.product-info .tag-availability {
    display: flex;
    border-top: 1px solid #e2e9e1;
    padding-top: 15px;
    margin-top: 50px;
}
.product-info .tag-availability li{
    list-style: none;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    color: #4f5d77;
    margin-bottom: 8px;
}
.product-info .tag-availability li span{
    color: #3ed092;
}